HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE, DEL, DFN, EM, FONT, IMG, INS, KBD, Q, S, SAMP, SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
#outerContainer {
	margin-top: 40px;
}
#photoContainer {
	width: 1250px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/photo.jpg);
	background-repeat: no-repeat;
	text-align: center;
	height: 520px;
}
#contentContainer {
	background-color: #FFF;
	width: 1250px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	height: 180px;
	padding: 0px;
	margin-top: 0px;
}
#contentContainer #center {
	margin-right: auto;
	margin-left: auto;
	width: 840px;
	padding-top: 0px;
}
#tweetIcon {
	float: left;
	width: 181px;
	margin-right: 10px;
}
#tweetContainer {
	text-align: left;
	width: 350px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 150%;
}
#tweetContainer h2, #tweetContainer h2 a:link, #tweetContainer h2 a:hover, #tweetContainer h2 a:visited {
	padding-bottom: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #AD1919;
	text-decoration: none;
	font-weight: bold;
}
#photoContainer h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #FFF;
	padding-top: 35px;
}
p, a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 140%;
	padding-top: 0px;
}
strong {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited {
	color: #0F78B9;
	}
a:hover {
	color: #AD1919;
	}
#logoContainer {
}
#footerContainer {
	background-image: url(images/footer.gif);
	width: 1250px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 30px;
	height: 110px;
	overflow: hidden;
}
#loldogz h1 {
    font-family: Impact, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
